@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  color: blue;
  margin: 0px;
  padding: 0px;
}

body {
 
  color: black;
  
  font-size: 30px;

  padding: 0px 10px;

  text-align: center;

  background-size: 20%;
 
  background-image: url(../img/web_technology.png)
}

#main_block {

  width: auto;
 
  height: auto;
  
  background: #FAEBD7;

  padding: 3px 0;
}

h1, h2, h3, h4, h5, h6 {
  
  color: green;
}


h3 {
 
  color: #427838;
}


p {

  color: #000;
  
  font-size: 80%;
}


.text_n {
  
  font-style: normal;
}

.text_i {
  
  font-style: italic;
}

.text_b {

  font-weight: bold;
}


.text_u {
 
  text-decoration: underline;
}

.text_lt {
 
  text-decoration: line-through;
}

body div span p {

  font-size: 1.2em;
  
  display: inline-block;
 
  margin: 0px 10px;
}


.pacifico {
 
  font-family: 'Pacifico', cursive;
}

.comfortaa {

  font-family: 'Comfortaa', cursive;
}

.lobster {
  
  font-family: 'Lobster', cursive;
}

.caveat {
  
  font-family: 'Caveat', cursive;
}

.uppercase {
  
  text-transform: uppercase;
}

.lowercase {
 
  text-transform: lowercase;
}

.custom_spacing {
 
  word-spacing: 20px;
  
  letter-spacing: 10px;
}

#container_for_blocks {
  
  font-size: 0;
}

.block_z {

  width: 200px;

  height: 200px;
 
  font-size: 30px;
 
  border-width: 5px;
 
  border-color: #000;
 
  display: inline-block;
  
  margin: 10px 5px;
  
  line-height: 200px;

  opacity: 0.9;
 
  border-radius: 0 50%;

  transition: color 1s, background 1s, border-color 1s;
}

.block_r {
 
  color: white;
  
  background: #F15635;

  border-style: solid;
}

.block_g {
  
  color: black;
  
  background: #0DF9BE;
  
  border-style: dashed;
}

.block_b {
 
  color: white;

  background: #77DF29;
  
  border-style: double;
}

.block_y {
 
  color: black;
  
  background: #A363EA;
  
  border-style: dotted;
}

.block_r:hover, .block_b:hover {
 
  color: black;
  
  background: white;
}

.block_g:hover, .block_y:hover {
  
  color: white;

  background: black;
 
  border-color: white;
}

.goto_home {
  
  display: block;
  
  color: black;
  
  margin: 10px auto;
 
  background: white;
 
  text-decoration: none;
 
  border: 3px solid black;
  
  border-radius: 12px;
  
  width: 50%;
  
  transition: border .3s, color .3s, background .3s;
}

.goto_home:hover {
 
  color: yellow;
  
  background: #333;
 
  border: 3px solid #bbb;
}

